<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>FlixTube: Advertise</title>

        <link rel="stylesheet" href="css/tailwind.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="flex flex-col">
            <div class="border-b-2 bg-gray-100">
                <div class="nav flex flex-row items-center mt-1 p-2">
                    <div class="text-xl font-bold">
                        FlixTube
                    </div>
                    <div class="ml-16">
                        <a href="/">Videos</a>
                    </div>
                    <div class="ml-4">
                        <a href="/upload">Upload</a>
                    </div>
                    <div class="ml-4">
                        <a href="/history">History</a>
                    </div>
                    <div class="ml-4 border-b-2 border-blue-600">
                        <a href="/advertise">Advertise</a>
                    </div>
                </div>
            </div>

            <div class="m-4">
                <h1>Advertise</h1>
                <div class="m-4 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
                    {{#each ads}}
                        <div class="border-2 rounded-md p-3 bg-white">
                            <img class="w-full h-auto rounded-sm" src="{{this.imageProxyUrl}}" alt="{{this.name}}">
                            <div class="mt-2 font-semibold">{{this.name}}</div>
                            <a class="text-blue-700 underline break-all" href="{{this.url}}" target="_blank" rel="noopener noreferrer">{{this.url}}</a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </body>
</html>
